h1 {
	font-size: 60px;
	font-weight: bold;
	font-family: Arial;
}

.smallhead {
	font-style: italic;
}

.productimage {
	height: 180px !important;
}

.featureicon {
	height: 100px;
	width: 100px !important;
	 display: block;
  margin-left: auto;
  margin-right: auto;
}

.featurelabel {
	text-align: center;
	font-size: 13px;
}